@media (max-width: 1024px) {
  section,
  .section {
    padding: 5rem 2rem;
  }
  nav {
    padding: 2rem;
  }
  #menu-icon {
    display: block;
  }
  button.hire.webmain {
    display: none;
  }
  .wth-60 {
    width: 100%;
  }
  .wth-70 {
    width: 100%;
  }
  .navbar {
    position: absolute;
    top: 6.94rem;
    right: -100rem;
    width: 85%;
    height: 100vh;
    padding: 2rem;
    background: var(--bg-color);
    border-top: 0.1rem solid rgba(0, 0, 0, 0.2);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease-in-out;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: flex-start;
    border-radius: 0;
  }
  button.hire {
    width: 100%;
    justify-content: center;
  }
  .navExtra {
    display: flex;
    width: 100%;
  }
  .navbar.active {
    right: 0;
  }
  .navbar.active a.active {
    background-color: var(--second-bg-color);
  }
  .navbar a {
    width: 100%;
    border-radius: 0.5rem;
    padding-inline: 2.5rem;
    font-size: 2rem;
    font-family: "Quicksand", "Poppins", Arial;
  }
  .heroSection {
    padding: 5rem 2rem 5rem;
  }
  .heroContent {
    display: flex;
    flex-direction: column;
  }
  .profileDetails {
    grid-column: unset;
    width: 100%;
  }
  .profile {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
  }

  .heroDetails {
    padding: 1rem;
  }
  .serviceList {
    padding-top: 5rem;
    grid-template-columns: repeat(2, 1fr);
  }
  .servicesDetails {
    grid-template-columns: repeat(2, 1fr);
    margin-top: 5rem;
  }
  .skillList {
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }
  section.skills {
    padding: 5rem 2rem;
  }
  .portfolio-container {
    grid-template-columns: repeat(2, 1fr);
  }
  .portfolio-box img {
    height: 20rem;
  }
  .contactDetails {
    padding: 0;
    grid-template-columns: repeat(1, 1fr);
    gap: 2rem;
  }
  .officeInfo {
    border: none;
    padding: 2rem;
  }
  a.phoneIcon {
    display: none;
  }
  .contactForm {
    grid-column: 1;
    padding: 2rem;
    border: none;
  }
  .input-grid {
    grid-template-columns: repeat(1, 1fr);
  }
  .bgHeader {
    font-size: 4rem;
  }
  .mainHeader {
    font-size: 2.5rem;
  }
  .faqContainer {
    display: flex;
    flex-direction: column;
  }
  .faqConnect {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    max-width: 100%;
  }
}

@media (max-width: 768px) {
  .herogrid {
    display: flex;
    flex-direction: column;
    gap: 3rem;
  }

  .btnGrp{
    margin: 0 auto;
    flex-direction: column;
  }
  .bio_stats {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2.5rem;
  }
  .bio_stats li.stat_data p {
    width: max-content;
    margin: 0 auto;
    text-align: center;
  }
  .servicesDetails {
    grid-template-columns: repeat(1, 1fr);
    margin-top: 5rem;
  }
  .faqContainer {
    display: flex;
    flex-direction: column;
  }
  .faqConnect {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    max-width: 100%;
  }
  .uiVideo {
    width: 100%;
    height: 24rem;
    max-width: 100%;
  }
}
@media (max-width: 500px) {
  section,
  .section {
    padding: 5rem 1.5rem;
  }
  .niche{
    width: 100%;
  }
 
  .herogrid {
    flex-direction: column-reverse;
    gap: 3rem;
  }
  .heroLP{
    padding-inline: 1.5rem;
  }
  .greetName {
    font-size: 3.2rem;
}
  .profile {
    display: flex;
    flex-direction: column;
  }
  .heroDetails {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }
  .sphere, .spheretp, .bgeffect, .bgeffectbt{
    height: 9rem;
  }
  .bioImg{
    width: 90%;
    margin: auto;
    height: 34rem;
  }
  .bioImg img {
    filter: grayscale(100%) !important;
    width: 100%;
    position: absolute;
    object-fit: cover;
    bottom: 0;
}
.smgrid{
  grid-template-columns: repeat(1,1fr);
}
  .profileContent {
    flex-direction: column-reverse;
  }
  .recentProjectgrid {
    padding: 1rem;
  }
  .portfolio-container {
    grid-template-columns: repeat(1, 1fr);
  }
  .roleItems {
    padding-inline: 2rem;
    gap: 1.5rem;
  }
  .skillList {
    grid-template-columns: repeat(1, 1fr);
    gap: 1rem;
  }
  .serviceList {
    padding-top: 5rem;
    grid-template-columns: repeat(1, 1fr);
  }
  .faqConnect {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    max-width: 100%;
  }
  .faqhd {
    line-height: 1.2;
  }
  .choice-accordion li label {
    font-size: 1.5rem;
  }
}
