@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");

/* Global rest */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  outline: none;
  text-decoration: none;
  list-style: none;
  scroll-behavior: smooth;
}

/* root variables */
:root {
  --bg-color: #1f242d;
  --altBg: #fff;
  --bgVariant: #f1f1f1;
  --second-bg-color: #323946;
  --text-color: #fff;
  --main-color: #0ef;
}

body {
  background: var(--bg-color);
  color: var(--text-color);
  font-family: "Poppins", Arial, sans-serif;
  font-size: 1.4rem;
}
/* html rem:px configuration */
html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

/* max-with Design elements */
section {
  max-width: 1500px;
  margin: 0 auto;
  padding: 8rem 5rem;
}

header {
  max-width: 1500px;
  margin: 0 auto;
}
nav {
  position: fixed;
  width: 100%;
  max-width: 1500px;
  margin: 0 auto;
  z-index: 100;
  background: var(--bg-color);
  padding: 1rem 3rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: 1s ease;
  box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.3);
}

/* ensure to correct these */
/* ensure to correct these */
.wth-70 {
  width: 75%;
  text-align: center;
  margin: 0 auto;
}
.wth-60 {
  width: 50%;
  text-align: center;
  margin: 0 auto;
}
/* ensure to correct these */
/* ensure to correct these */

.logo {
  font-size: 2rem;
  font-weight: 600;
  cursor: pointer;
}
.navbar {
  background-color: var(--second-bg-color);
  padding: 0 3rem;
  border-radius: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}
.navExtra{
  display: flex;
  flex-direction: column;
  gap: 2rem;
  display: none;
}
.navbar a {
  font-size: 1.5rem;
  padding: 1.5rem 1rem;
  color: var(--text-color);
  font-weight: 600;
  text-decoration: none;
}
.navbar a:hover,
.navbar a.active {
  color: var(--main-color);
}
.hire {
  padding: 1rem 2rem 1.2rem;
  border-radius: 0.5rem;
  font-family: "Quicksand", Arial;
  font-weight: bold;
  text-decoration: none;
  font-size: 1.5rem;
  background-color: var(--bgVariant);
  background-color: transparent;
  border: 1.5px solid var(--altBg);
  border-left: 2px solid var(--altBg);
  border-bottom: 3px solid var(--altBg);
  color: var(--text-color);
  transition: all ease-in-out 0.3s;
  display: flex;
  align-items: center;
  gap: 1rem;
}
.hire:hover {
  background-color: var(--altBg);
  color: var(--bg-color) !important;
}
#menu-icon {
  font-size: 2rem;
  color: var(--text-color);
  display: none;
}

/* Hero-section */
.heroSection {
  padding: 10rem 4rem 5rem;
}
.heroContent {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.5rem;
  align-items: flex-start;
}
.profile {
  background-color: var(--second-bg-color);
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
  height: 100%;
  border-radius: 1rem;
}
.profileImg {
  max-height: 40rem;
  width: 100%;
}
.profileImg img {
  width: 100%;
  height: 100%;
  border-radius: 1rem 1rem 0 0;
  object-fit: cover;
  object-position: top;
}
.profilebase {
  padding: 0 2rem 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  gap: 1rem;
  width: 100%;
}
.profilebase h4{
  font-size: 1.8rem;
}
.codeBase{
  width: 100%;
}
span.stack{
  padding: 0.5rem 0.8rem;
  border: 1.5px solid var(--altBg);
  border-left: 2px solid var(--altBg);
  border-bottom: 3px solid var(--altBg);
  border-radius: 0.5rem;
  width: max-content;
  display: inline-block;
  margin-right: 0.5rem;
  margin-bottom: 0.8rem;
  /* flex: 1 1 0; */
}
.profileSocials {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
  font-size: 1.5rem;
}
.profileSocials span {
  width: 4rem;
  height: 4rem;
  background-color: var(--second-bg-color);
  color: var(--text-color);
  border-radius: 50%;
  border: 1.5px solid var(--altBg);
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Quicksand", Arial;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 0.1rem 0.2rem 1rem rgba(0, 0, 0, 0.5);
  transition: all 0.25s ease-in-out;
}
.profileSocials span:active {
  transform: scale(0.97) !important;
}
.profileSocials span:hover {
  transform: translateY(-0.5rem);
  background-color: var(--second-bg-color);
  box-shadow: 0.1rem 0.2rem 1rem rgba(0, 0, 0, 0.8);
}

.profileDetails {
    grid-column: 2 / 4;
    width: 100%;
}
.profileContent {
    display: flex;
    flex-direction: column;
    gap: 1.5rem ;
}

.identifier {
  font-size: 3.5rem;
  font-weight: bold;
}
span.trans {
  color: var(--main-color);
  font-family: 'Quicksand', Arial;
}
.heroDetails {
  background: var(--second-bg-color);
  color: var(--altBg);
  padding: 1.5rem;
  border-radius: 1rem;
  display: grid;
  grid-template-columns: 65% repeat(1,1fr);
  gap: 1rem;
}
.bio p:not(:first-child){
    margin-top: 1rem ;
}
.roles{
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.roleItems{
  padding: 1rem;
  border: 1.5px solid var(--altBg);
  border-left: 2px solid var(--altBg);
  border-bottom: 3px solid var(--altBg);
  background-color: transparent;
  color: var(--altBg);
  border-radius: 0.3rem;
  display: flex;
  align-items: center;
  gap: 0.6rem;
  cursor: pointer;
  transition: all ease-in-out 0.3s;
}
.roleItems img{
  width: 2rem;
  aspect-ratio: 1;
}
.roleItems:hover{
  transform: translate(-0.8rem);
  background-color: var(--altBg);
  color: var(--bg-color);
}
/* end of hero section */

/* styling Section Headers */
.labelContext{
  text-align: center;
}
.bgHeader{
  font-size: 8rem;
  font-weight: 800;
  margin-bottom:0;
  font-family: 'Quicksand', 'Poppins', Arial;
  line-height: 7rem;
  background: linear-gradient(to top, transparent 0%, var(--altBg) 0%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  opacity: 0.05;
  }
  
  .mainHeader{
    font-size: 4.2rem;
    font-weight: 600;
    font-family: 'Quicksand', 'Poppins', Arial;
    color: var(--text-color);
    transform: translateY(-2.5rem);
    max-width: max-content;
    margin: 0 auto;
  }
  .mainHeader:before{
    content: '';
    position: absolute;
    border-radius: 2rem;
    width: 6.5rem;
    height: .5rem;
    right: 0;
    bottom: -0.8rem;
    background: var(--text-color);
  }



/* services section */
.services{
}
.servicesDetails {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  margin-top: 5rem;
}
.exp{
  padding: 2rem;
  border-radius: 0.5rem;
  /* background-color: var(--bg-color); */
  border: 2px solid var(--second-bg-color);
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.exp > div{
  padding: 1rem;
  border: 1px solid var(--second-bg-color);
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.exp h4{
  font-size: 1.8rem;
  font-family: 'Quicksand', Arial;
}
.abTitle{
  font-size: 2.4rem;
  font-weight: bold;
  padding-bottom: 1rem;
}

.serviceList{
    padding-top: 5rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}

.serviceItem{
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    border: 1px solid var(--second-bg-color);
    border-radius: 1rem;
}




/* skill section */
section.skills {
  padding: 8rem 5rem;
  background-color: var(--bg-color);
}
.skillList{
  padding-top: 5rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

.skillItem{
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border: 1px solid var(--second-bg-color);
  border-radius: 1rem;
}

.skillItem h4{
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  font-size: 1.6rem;
  font-family: 'Quicksand';
}
.skillItem h4 .jquery{
width: 1.5rem;
background: #fff;
}

.line{
  position: relative;
  width: 100%;
  height: 0.7rem;
  background: #6d6d6dc5;
  border-radius: .5rem;
  box-shadow: 0.5rem 0rem 0.5rem 5px var(--second-bg-color);
  overflow: hidden;
  margin-top: 0.5rem;
}

.line span{
  position: absolute;
  top: 0;
  left: 0;
  width: 60%;
  height: 100%;
  color: var(--text-variant);
  font-weight: 700;
  font-size: 1.4rem;
  text-align: center;
  border-radius: .5rem;
  background: linear-gradient(90deg, var(--bg-color) 30%, #212529) 100%;
  transition: width .5s linear;
  }

/* portfolio section */
.portfolio {
  background: var(--second-bg-color);
}
.portfolio-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  gap: 2rem;
  padding-top: 8rem;
}
.portfolio-container .portfolio-box {
  position: relative;
  border-radius: 0.5rem;
  box-shadow: 0 0 2rem var(--bg-color);
  overflow: hidden;
  display: flex;
  font-family: 'Quicksand', Arial;
}

.portfolio-box img {
  width: 100%;
  height: 280px;
  transition: all ease-in-out 0.5s;
  object-fit: cover;
  object-position: center;
  border-radius: 0.5rem;
}

.portfolio-box:hover img{
  /* transform: scale(0.99); */
  --webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  filter: grayscale(100%);
}

.portfolio-box .portfolio-layer {
  border-radius: 0.5rem;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* background: linear-gradient(to top, #383838d7, var(--second-bg-color)); */
background-color:#000000a2;

  color: var(--text-color);
  padding: 2rem;
  transform: translateY(100%);
  transition: all 0.5s ease-in-out;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 1.2rem;
}

.portfolio-box:hover .portfolio-layer {
  transform: translateY(0);
}
.portfolio-box:hover img{
    backdrop-filter: blur(4rem);
}
.portfolio-layer h4 {
  font-size: 2rem;
  font-weight: bold;
}

.portfolio-layer p {
  font-size: 1.4rem;
  font-weight: 500;
}
.btn2 {
    display: inline-block;
    padding: 0.8rem 3rem;
    background: var(--altBg);
    border-radius: 0.5rem;
    font-size: 1.4rem;
    color: var(--bg-color);
    letter-spacing: 0.1rem;
    font-weight: bold;
    transition: 0.1s ease;
    font-family: 'Quicksand';
  }
  .btn2:hover {
    box-shadow: 0 0 3rem var(--bg-color);
    background: var(--altBg);
    color: #1f242d;
  } 






/* contact section */
section.contact{
    background-color: var(--second-bg-color);
    font-size: 1.5rem;
    color: var(--text-color);
    padding-bottom: 2rem;
}


.contactDetails{
    background-color: var(--bg-color);
    padding: 2rem;
    margin-top: 5rem;
    border-radius: 0.5rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
  }

  .officeInfo{
    border: 1px solid var(--second-bg-color);
    padding: 2rem;
    border-radius: 0.5rem;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .officeInfo > div{
    border: 1px solid var(--second-bg-color);
    padding-block: 1rem;
    padding-inline: 1rem;
    display: flex;
    align-items: center;
    gap: 2rem;
  }
  .officeInfo > div > span{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    background-color: var(--second-bg-color);
    color: var(--text-color);
    font-size: 1.6rem;
    cursor: pointer;
  }
  .officeInfo h4{
    font-size: 1.8rem;
    font-family: 'Quicksand', 'Poppins', Arial;
    padding-block: 0.5rem;
  }

  .contactForm{
    grid-column: 2/4;
    border: 1px solid var(--second-bg-color);
    padding: 2rem;
    border-radius: 0.5rem;
  }


  .input-grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
  }
 
  label.placeholder{
    font-size: 1.5rem;
    font-weight: 500;
    pointer-events: none;
    transition: .5s;
  }
  input.input{
    width: 100%;
    height: 4rem;
    padding: 1rem;
    margin-block: 2rem;
    font-size: 1.5rem;
    font-family: 'Quicksand', 'Poppins', Arial;
    background: var(--second-bg-color);
    color: var(--text-color);
    border-radius: .5rem !important;
    border: .2rem solid var(--second-bg-color);
    outline: none;
  }
  textarea.subject{
    font-size: 1.6rem;
    padding: .8rem 1rem .8rem;
    margin-block: 2rem;
    height: 4rem;
    width: 100%;
    height: 10rem;
    background: var(--second-bg-color);
    font-family: 'Quicksand', 'Poppins', Arial;
    color: var(--text-color);
    border: .2rem solid var(--second-bg-color);
    border-radius: .5rem !important;
    resize: none;
  }
  input[type=number]::-webkit-inner-spin-button,
  input[type=number]::-webkit-outer-spin-button{
    -webkit-appearance: none;
  }
  .input-grp input:focus~label.placeholder,
  .input-grp input:valid~label.placeholder
  {
    top: -1.6rem;
    left: .7rem;
    font-size: 1.25rem;
    font-weight: bold;
  }
  textarea:focus~label,
  textarea:valid~.placeholder{
    top: -1.6rem;
    left: .7rem;
    font-size: 1.25rem;
    font-weight: bold;
  }
  textarea:not(:placeholder-shown) ~ label{
    top: -1.6rem;
    left: .7rem;
  }
  .submitBtn {
    padding: 1rem 2rem 1.2rem;
    border-radius: 0.5rem;
    background-color: #e7e7e7ab;
    color: var(--bg-color);
    transition: all 0.2s ease-in-out;
    display: flex;
    align-items: baseline;
    gap: 1rem;
    font-family: "Quicksand", Arial;
    font-size: 1.5rem;
    font-weight: 900;
}
  .submitBtn:hover {
    background-color: var(--altBg);
    color: var(--bg-color);
  }

.social-links a{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    padding: 2rem;
    background-color: var(--second-bg-color);
    color: var(--text-color);
    transition: all ease-in-out 0.2s;
}
.social-links i {
    width: 1.9rem;
    aspect-ratio: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.9rem;
}

.social-links a:hover {
  box-shadow: 0 0 3rem #000;
  transform: translateY(-5px);
}
.social-links p {
  font-size: 12px;
  margin-top: 200px;
}
div.copyright{
    padding: 2rem;
    margin-top: 2rem;
    background-color: var(--bg-color);
    font-family: 'Quicksand', 'Poppins', Arial;
    border-radius: 1rem;
}

.copyright span{
color: var(--main-color);
cursor: pointer;
}


/* Recent Projects */
/* .swiper {
  width: 100%;
  height: 100%;
} */
.recentProjectgrid{
  padding: 1.5rem;
  border-radius: 0.5rem;
  background-color: var(--second-bg-color);
}
.linkIcon{
position: absolute;
bottom: 0;
left: 0;
z-index: 2;
width: 100%;
height: 100%;
display: flex;
align-items: center;
justify-content: center;
text-align: center;
cursor: pointer;
background-color: #1f242d77;
clip-path: polygon(0 0, 100% 0%, 100% 100%, 0% 100%);
  transition: all ease-in-out 0.5s;
}
.prjCard{
  height: 24rem;
  width: 100%;
}
.prjImgBx {
  height: 100%;
  width: 100%;
  position: relative;
  overflow: hidden;
}
.live{
  padding: 1rem 2rem;
  background-color: transparent;
  color: var(--altBg);
  border: 1.5px solid var(--altBg);
  position: relative;
  transition: all ease-in-out 0.3s;
  border-radius: 0.3rem;
}

.live:before{
  content: "";
position: absolute;
width: 17rem;
height: 6.6rem;
left: -10%;
top: -30%;
z-index: -1;
background-color: #0f141f77;
transition: 0.8s cubic-bezier(0, 0, 0.2, 1);
}
.prjImgBx img{
  border-radius: 0.3rem;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.prjImgBx:hover .live{
    background-color: var(--altBg);
    color: #000;
    border: 1.5px solid var(--altBg);
}
.prjImgBx:hover .linkIcon, .recentProject .swiper-slide-active .linkIcon{
  background-color: #030f27b3;
}
.prjImgBx:hover .live:before, .recentProject .swiper-slide-active .live:before{
  width: 19rem;
height: 7.3rem;
left: -20%;
top: -40%;
}