@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    font-family: 'Poppins', sans-serif;
    outline: none;
    scroll-behavior: smooth;
}

:root {
    --bg-color: #1f242d;
    --second-bg-color: #323946;
    --text-color: #fff;
    --main-color: #0ef;
}

body {
    background: var(--bg-color);
    color: var(--text-color);
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
  scroll-behavior: smooth;
}
section {
    max-width: 1500px;
    margin: 0 auto;
}

.sub2 {
    padding: 8rem 8rem;
  }
nav{
    position: fixed;
    max-width: 1500px;
    width: 100%;
    margin: 0 auto;
    z-index: 100;
    background: var(--bg-color);
    padding: 1rem 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.3);
    transition: 1s ease; 
}
.wth-70{
    width: 75%;
    text-align: center;
    margin: 0 auto;
}
.wth-60{
    width: 60%;
    text-align: center;
    margin: 0 auto;
}
.logo {
    font-size: 2.5rem;
    font-weight: 600;
    cursor: pointer;
}

.navbar a {
    font-size: 1.7rem;
    color: var(--text-color);
    margin-left: 4rem;
    font-weight: 600;
    text-decoration: none;
}

.navbar a:hover,
.navbar a.active {
    color: var(--main-color)
}
#menu-icon{
    font-size: 3.6rem;
    color: var(--text-color);
    display: none;
}
.home {
    padding: 12rem 8rem;
}
.home-img{
    text-align: center;
    align-items: center;
}
.home-img img{
    border-radius: 50%;
    max-width: 450px;
    animation: floatImage 4s ease-in-out infinite
}

@keyframes floatImage {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-2.4rem);
    }
    100% {
        transform: translateY(0);
    }
}
div.col.social-media{
max-width: 110px;
}
.social-media a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 3rem;
    height: 3rem;
    background: transparent;
    border: .2rem solid var(--main-color);
    border-radius: 50%;
    font-size: 1.5rem;
    color: var(--main-color);
    text-decoration: none;
    transition:all ease .3s;
}

.social-media a:hover {
    background: var(--main-color);
    color: var(--second-bg-color);
    box-shadow: 0 0 2rem var(--main-color);
    transform: translateY(-10px);
}

/* name h2 */
.identifier{
    font-size: 30px;
    font-weight:bold ;
}

/* switching job roles */
span.trans{
    color: var(--main-color);
}

.btn {
    display: inline-block;
    padding: 1rem 3rem;
    background: var(--main-color);
    border-radius: 4rem;
    box-shadow:0 0 1rem var(--main-color);
    font-size: 1rem;
    color: var(--second-bg-color);
    letter-spacing: .1rem;
    font-weight: 600;
    transition: all ease .3s;
}

.btn2 {
    display: inline-block;
    padding: 1rem 3rem;
    /* background: #f9c227; */
    background: var(--main-color);
    border-radius: 4rem;
    box-shadow:0 0 1rem var(--main-color);
    font-size: 1rem;
    color: var(--bg-color);
    letter-spacing: .1rem;
    font-weight: 600;
    transition: .1s ease;
}

.btn:hover{
    background: var(--main-color);
    color: #1f242d;
    box-shadow: 0 0 2rem var(--main-color);
    transform: translateY(-5px);
}
.btn2:hover{
    box-shadow: 0 0 3rem var(--main-color);
    background: var(--main-color);
    color: #1f242d;
}
/* .home-content h2:nth-of-type(2) {
    display:none;
} */


/* about us page */
.about {
    padding: 8rem 5rem;
    background: var(--second-bg-color);
}

.heading{
    text-align: center;
    font-size: 4.5rem;
}
.about-img{
    text-align: center;
}

.about-img2{
    display: none;
}
.about-img img {
    border-radius: 50%;
    max-width: 400px;
    animation: floatImage 4s ease-in-out infinite
}
.about-content h1{
    font-size: 4.5rem;
    font-weight: bold;
}



/* skill section */
.skills{
    background: url(images/corporate.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
/* .skills-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 3rem;
} */

.skills-container .skills-box{
    /* flex: 1 1 30rem; */
    height: 510px;
    width: 100%;
    background: var(--second-bg-color);
    padding: .6rem .6rem 4rem;
    text-align: start;
    border-radius: 2rem;
    border: .2rem solid var(--bg-color);
    transition: all ease .3s;
    position: relative;
}
.skills-box img{
    border-radius: 1.4rem;
    /* padding-bottom: 1rem; */
    width: 100%;
    height: 320px;
    object-fit: cover;
}
.skills-container .skills-box:hover{
    border-color: var(--main-color);
    transform: scale(1.05);
}
.skills-box .skill-icon{
    background: #323946;
    width:8rem ;
    aspect-ratio: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    position: absolute;
    top: 5%;
    border: 3px solid #0ef;
    right: 5%;
}

.skills-box i{
    font-size: 4rem;
    color: var(--main-color);
}

.skills-box h3{
    font-size: 2.6rem;
}
.skills-box p{
    font-size: 1.6rem;
}


/* portfolio section */
.portfolio {
    background: var(--second-bg-color);
}
.portfolio-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    align-items: center;
    gap: 3rem;
}
.portfolio-container .portfolio-box{
    position: relative;
    border-radius: 1.3rem;
    box-shadow: 0 0 2rem var(--bg-color);
    overflow: hidden;
    display: flex;
}

.portfolio-box img{
    width: 100%;
    height: 250px;
    transition: all ease 2s;
}

.portfolio-box:hover img{
    transform: scale(0.98);
}

.portfolio-box .portfolio-layer{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(146, 144, 144, 0.1), var(--bg-color));
    backdrop-filter: blur(.4rem);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 3rem 3rem;
    /* display: none; */
    transform: translateY(100%);
    transition: all ease .8s;
}

.portfolio-box:hover .portfolio-layer{
    /* display: block; */
    /* animation: slideUp 1s; */
    transform: translateY(0);
}


/* @keyframes slideUp {
    from {
      transform: translateY(100%);
    }
    to {
      transform: translateY(0);
    }
  } */

.portfolio-layer h4{
    font-size: 2.5rem;
    font-weight: bold;
    color:#fff;
}

.portfolio-layer p{
    font-size: 1.3rem;
    font-weight:500;
    color: #fff;
}



/* conatct section */
.dev-info h2{
font-family: "Quicksand", sans-serif;
color: #0ef;
}
.dev-info li{
    list-style: none;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
font-family: "Quicksand", sans-serif;
}

.dev-info li:hover{
    color: #0ef;
}
/* .mail {
    align-items: center;
    text-align: center;
    width: 3rem;
    height: 3rem;
    background: transparent;
    border: .2rem solid var(--main-color);
    border-radius: 50%;
    font-size: 1.5rem;
    color: var(--main-color);
    transition: .1s ease;
}
.mail:hover {
    background: var(--main-color);
    color: var(--second-bg-color);
    box-shadow: 0 0 1rem var(--main-color);
    transform: translateY(-10px);
} */

.social-links i{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 3rem;
    height: 3rem;
    background: transparent;
    border: .2rem solid var(--main-color);
    border-radius: 50%;
    font-size: 1.5rem;
    color: var(--main-color);
    margin: .8rem 1rem 1rem 0;
    transition: all ease .3s;
}

.social-links i:hover {
    background: var(--main-color);
    color: var(--second-bg-color);
    box-shadow: 0 0 3rem var(--main-color);
    transform: translateY(-10px);
}
  .social-links p {
    font-size: 12px;
    margin-top: 200px;
  }
  .central{
    text-align: center;
  }

  

  @media (max-width: 1200px){
    html{
        font-size: 55%;
    }
  }


  @media (max-width: 768px){
    #menu-icon{
        display: block;
    }
    .sub2 {
        padding: 5rem 2rem;
      }
    article {
        padding: 10rem 10px 2rem;
        /* margin: 0 auto; */
    }
.wth-60{
    width: 90%;
}
.wth-70{
    width: 90%;
}
    .navbar {
        position: absolute;
        top: 100%;
        right: 0;
        width: 100%;
        height: 42vh;
        padding: 1rem 3%;
        background: var(--bg-color);
        border-top: .1rem solid rgba(0, 0, 0, .2);
        box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .2);
        display: none;
    }
    @keyframes slideInRight {
        from {
          transform: translateX(200px);
        }
        to {
          transform: translateX(0);
        }
      }
    .navbar.active{
        display: block;
      animation: slideInRight 0.5s;
    }

    .navbar a {
        display: block;
        font-size: 2rem;
        margin: 4rem 0 3rem 4rem;
    }

    .home {
        height: auto;
        padding: 10rem 2rem 5rem 2rem;
    }
    .home-img img{
        width: 80% !important;
    }
    .home-content h2{
        font-size: 2rem;
    }
    .home-content h1{
        font-size: 3rem;
    }
    .home-content h3{
        font-size: 1.5rem;
    }
    


    /* about section */
     .about-img{
    display: none;
}
     .about-img2{
    display: block;
    text-align: center;
}
    .about-img2 img{
        width: 80% !important;
        border-radius: 50%;
    }
    .about-content h2{
        font-size: 2.6rem;
    }
    .about-content h1{
        font-size: 3.5rem;
        text-align: start;
    }
    .about-content h3{
        font-size: 1.5rem;
    }
    .dp{
        margin-top: 4rem;
    }

    .about{
        padding: 5rem 2rem;
    }

    /* .about {
        flex-direction: column-reverse;
        text-align: center;
        justify-content: center;
        padding-bottom: 9rem;
    } */
    .about-img .dp{
        margin: 0;
    }
    
    .portfolio h2{
        margin-bottom: 3rem;
    }
    .portfolio-container{
        grid-template-columns: repeat(1, 1fr);
    }
    .portfolio{
        padding-bottom: 9rem;
    }
    
  }

  @media (max-width: 400px){
    #menu-icon{
        display: block;
    }
    .sub2 {
        padding: 5rem 2rem;
      }
    article {
        padding: 10rem 10px 2rem;
        /* margin: 0 auto; */
    }
.wth-60{
    width: 90%;
}
.wth-70{
    width: 90%;
}
    .navbar {
        position: absolute;
        top: 100%;
        right: 0;
        width: 100%;
        height: 42vh;
        padding: 1rem 3%;
        background: var(--bg-color);
        border-top: .1rem solid rgba(0, 0, 0, .2);
        box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .2);
        display: none;
    }
    @keyframes slideInRight {
        from {
          transform: translateX(200px);
        }
        to {
          transform: translateX(0);
        }
      }
    .navbar.active{
        display: block;
      animation: slideInRight 0.5s;
    }

    .navbar a {
        display: block;
        font-size: 2rem;
        margin: 4rem 0 3rem 4rem;
    }

    .home {
        height: auto;
        padding: 10rem 2rem 5rem 2rem;
    }
    .home-img img{
        width: 100%;
    }
    .home-content h2{
        font-size: 2rem;
    }
    .home-content h1{
        font-size: 3rem;
    }
    .home-content h3{
        font-size: 1.5rem;
    }
    


    /* about section */
     .about-img{
    display: none;
}
     .about-img2{
    display: block;
}
    .about-img2 img{
        width: 100%;
        border-radius: 50%;
    }
    .about-content h2{
        font-size: 2.6rem;
    }
    .about-content h1{
        font-size: 3.5rem;
        text-align: start;
    }
    .about-content h3{
        font-size: 1.5rem;
    }
    .dp{
        margin-top: 4rem;
    }

    .about{
        padding: 5rem 2rem;
    }

    /* .about {
        flex-direction: column-reverse;
        text-align: center;
        justify-content: center;
        padding-bottom: 9rem;
    } */
    .about-img .dp{
        margin: 0;
    }
    
    .portfolio h2{
        margin-bottom: 3rem;
    }
    .portfolio-container{
        grid-template-columns: repeat(1, 1fr);
    }
    .portfolio{
        padding-bottom: 9rem;
    }
    
  }